include:
    - docker-compose-ldap.yml
    - docker-compose-ranger.yml
#     - docker-compose-openmetadata.yml

services:
    trino:
        image: trinodb/trino:latest
        container_name: trino
        hostname: trino
        ports:
            - 8080:8080
            - 8443:8443
        volumes:
            - ./trino:/etc/trino
        environment:
            CATALOG_MANAGEMENT: dynamic
        depends_on:
            - postgres
            - mysql
            - ranger
        networks:
            - trino-network

    postgres:
        image: postgres:13
        container_name: trino-postgres
        environment:
            POSTGRES_USER: trino
            POSTGRES_PASSWORD: trino123
            POSTGRES_DB: analytics
        ports:
            - 5432:5432
        networks:
            - trino-network

    mysql:
        image: mysql:8
        container_name: trino-mysql
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: true
            MYSQL_USER: trino
            MYSQL_PASSWORD: trino123
            MYSQL_DATABASE: sales
        ports:
            - 3306:3306
        networks:
            - trino-network

networks:
    trino-network:
