services:
    ranger:
        user: root
        hostname: ranger
        networks:
            - ranger-network
        environment:
            RANGER_DB_TYPE: postgres
            JAVA_OPTS: >
                -Djavax.net.ssl.keyStore=/home/docker-certificates/keystore.pem
                -Djavax.net.ssl.trustStore=/home/docker-certificates/truststore.jks
                -Djavax.net.ssl.trustStorePassword=UnIx529p
        ports:
            - 8082:6080
        image: apache/ranger:2.7.0
        depends_on:
            - ranger-zk
            - ranger-solr
            - ranger-db
            - ranger-usersync
        volumes:
            - ranger-hadoop-data:/opt/hadoop
            - ../certs:/home/docker-certificates

    ranger-usersync:
        user: root
        image: ranger-usersync
        hostname: ranger-usersync
        networks:
            - ranger-network
        depends_on:
            - ranger-hadoop
        environment:
            ENABLE_FILE_SYNC_SOURCE: true
            HADOOP_HOME: /opt/hadoop
            JAVA_OPTS: >
                -Djavax.net.ssl.keyStore=/home/docker-certificates/keystore.pem
                -Djavax.net.ssl.trustStore=/home/docker-certificates/truststore.jks
                -Djavax.net.ssl.trustStorePassword=UnIx529p
        privileged: true
        volumes:
            - ranger-hadoop-data:/opt/hadoop
            - ./ranger/usersync:/home/ranger-usersync-data
            - ../certs:/home/docker-certificates
        entrypoint: /bin/bash
        command: 
            - -c
            - |
                cp -f /home/ranger-usersync-data/ranger-usersync-install.properties /opt/ranger/usersync/install.properties
                /home/ranger-usersync-data/ranger-usersync.sh

    ranger-hadoop:
        user: root
        image: ranger-hadoop
        hostname: ranger-hadoop
        networks:
            - ranger-network
        healthcheck:
            test: "hdfs dfs -ls /hbase"
            interval: 1m30s
            timeout: 10s
            retries: 30
            start_period: 40s
        volumes:
            - ranger-hadoop-data:/opt/hadoop
            - ./ranger/hadoop:/home/ranger/scripts
        depends_on:
            - ranger-zk
        environment:
            PDSH_RCMD_TYPE: ssh
        entrypoint: /bin/bash
        command: 
            - -c
            - |
                service ssh start
                /home/ranger/scripts/ranger-hadoop.sh

    ranger-db:
        hostname: ranger-db
        networks:
            - ranger-network
        healthcheck:
            test: su -c "pg_isready -q" postgres
            interval: 10s
            timeout: 2s
            retries: "30"
        image: apache/ranger-db:2.7.0

    ranger-zk:
        networks:
            - ranger-network
        image: apache/ranger-zk:2.7.0

    ranger-solr:
        networks:
            - ranger-network
        image: apache/ranger-solr:2.7.0
        command: solr-precreate ranger_audits /opt/solr/server/solr/configsets/ranger_audits/

networks:
    ranger-network:

volumes:
    ranger-usync-data:
    ranger-hadoop-data:
