services:
  ldap-db:
    image: mysql:8
    container_name: ldap-db
    hostname: ldap-db
    restart: always
    environment:
        # MYSQL_ROOT_PASSWORD: rootpass
        MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
        MYSQL_USER: ldap
        MYSQL_PASSWORD: ldap123
        MYSQL_DATABASE: ldap
    networks:
        - openldap-network

  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    hostname: openldap
    restart: always
    # ports:
    #   - 389:389
    #   - 636:636
    environment:
      - LDAP_DOMAIN=openldap
      - LDAP_ORGANISATION=OpenLDAP
      - LDAP_ADMIN_DN=cn=admin,dc=openldap
      - LDAP_ADMIN_PASSWORD=rangerR0cks!
      - LDAP_CONFIG_PASSWORD=rangerR0cks!
      # - LDAP_RFC2307BIS_SCHEMA=true
      # - LDAP_TLS_VERIFY_CLIENT=never
    networks:
      - openldap-network
    depends_on:
      - ldap-db

  lam:
    image: ghcr.io/ldapaccountmanager/lam:stable
    container_name: lam
    ports:
      - 8083:80
    stdin_open: true
    tty: true
    volumes:
      - ./lam_config/config.cfg:/var/lib/ldap-account-manager/config/config.cfg
    environment:
      - LAM_SKIP_PRECONFIGURE=true
    networks:
      - openldap-network
    depends_on:
      - openldap

networks:
  openldap-network:
