services:
  ldap-db:
    image: mysql:8
    container_name: ldap-db
    hostname: ldap-db
    environment:
        # MYSQL_ROOT_PASSWORD: rootpass
        MYSQL_RANDOM_ROOT_PASSWORD: yes
        MYSQL_USER: ldap
        MYSQL_PASSWORD: ldap123
        MYSQL_DATABASE: ldap
    networks:
        - openldap-network
    volumes:
      - ldap-db:/var/lib/mysql

  openldap:
    user: root
    image: osixia/openldap:stable
    container_name: openldap
    hostname: openldap
    ports:
      - 389:389
      - 636:636
    environment:
      LDAP_LOG_LEVEL: -1
      LDAP_DOMAIN: openldap
      LDAP_ADMIN_PASSWORD: rangerR0cks!
      LDAP_TLS: true
      LDAP_TLS_CRT_FILENAME: openldap.crt
      LDAP_TLS_KEY_FILENAME: openldap.key
      LDAP_TLS_CA_CRT_FILENAME: ca-root.crt
      LDAP_TLS_DH_PARAM_FILENAME: dhparam.pem
      LDAP_TLS_VERIFY_CLIENT: never
    volumes:
      - ../certs:/container/service/slapd/assets/certs
      - ../certs:/home/docker-certificates
      - ./data/slapd/database:/var/lib/ldap
      - ./data/slapd/config:/etc/ldap/slapd.d
    networks:
      - openldap-network
    depends_on:
      ldap-db:
        condition: service_started
        restart: true

  lam:
    image: ghcr.io/ldapaccountmanager/lam:9.4
    container_name: lam
    ports:
      - 8083:80
    networks:
      - openldap-network
    depends_on:
      openldap:
        condition: service_started
        restart: true
    environment:
      - LAM_SKIP_PRECONFIGURE=false
    # volumes:
      # - ./config:/var/lib/ldap-account-manager/config

networks:
  openldap-network:

volumes:
  ldap-db: